$color-primary: #55c57a;
$color-primary-light: #7ed54f;
$color-primary-dark: #28b485;

$color-white: #ffffff;
$color-black: #000000;

$color-grey: #777;
$color-grey-light: #f7f7f7;

$margin: 2rem;
$margin-small: .5rem;
$margin-large: 5rem; 

//Grid Layout
$row-margin-vertical: 5rem;
$row-margin-horizontal: 3rem; 