.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.9)), url(../img/hero.jpg);
    background-size: cover; // stretches the image to complete width
    background-position: top; // on resizing the browser, top will be fixed.
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); // acts as a cutter of image
    position: relative;

    &-logo {
        position: absolute;
        top: 3rem;
        left: 3rem;

        img {
            height: 2.5rem; // width will be adjusted as per height by the browser
        }
    }

    &-container {
        color: $color-white;
        text-transform: uppercase;
        position: absolute;
        top: 40%; // wrt parent
        left: 50%;
        transform: translate(-50%, -50%); // wrt self
        text-align: center;

        .title {
            font-size: 4rem;
            font-weight: normal;
            letter-spacing: 2.4rem;
            animation-name: moveInLeft;
            animation-duration: 1.5s;
        }
        
        .sub-title {
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: 1.2rem;
            animation-name: moveInRight;
            animation-duration: 1.5s;
        }
    }
}