.btn {
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 6rem;
    margin-top: $margin-large;
    animation-name: moveInTop;
    animation-duration: 1.5s;
    transition: all .2s; // another way of adding animation; accepts property and duration
    position: relative;

    &-white {
        background-color: $color-white; // not written in above class as above props can be used for other buttons
        color: $color-grey;

        &::after {
            background-color: $color-white;
        }
    }

    &:hover { // pseudo class
        transform: translateY(-0.2rem);
        box-shadow: 0 0.6rem 1.3rem rgba($color-black, 0.2);

        &::after{
            transform: scaleX(1.3) scaleY(1.6);
            opacity: 0; // to hide after scaling
        }
    }

    &:active {
        transform: translateY(-0.06rem);
        box-shadow: 0 0.6rem 1.25rem rgba($color-black, 0.2);
    }

    // trying to create an identical button which sits behind original button
    &::after { // pseudo element
        content: ""; // mandatory param
        display: inline-block; // mandatory param
        width: 100%;
        height: 100%;
        z-index: -1; // to hide initially
        border-radius: 6rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s;
    }
}

.btn-link {
    display: inline-block;
    margin-top: $margin;
    color: $color-primary;
    text-decoration: none;
    border-bottom: .01rem solid $color-primary ;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}