.composition {
    position: relative;
    margin-top: $margin-large;
    
    img {
        box-shadow: 0 1.2rem 1rem rgba($color-black, 0.4);
        border-radius: 0.2rem;
        position: absolute;
        transition: all .2s;
        z-index: 1;


        &:hover {
            transform: scale(1.1);
            box-shadow: 0 1.5rem 1rem rgba($color-black, 0.5);
            z-index: 2;
            outline: 0.5rem solid $color-primary;
            outline-offset: 0.3rem;
        }

        
    }

    &:hover img:not(:hover) {
        transform: scale(0.8);
    }
    
    .comp-img1 {
        left: 0;
        top: -2rem;
    }

    .comp-img2 {
        left: 40%;
        top: 2rem;
    }

    .comp-img3 {
        left: 20%;
        top: 7rem;
    }
}