* {
    margin: 0;
    padding: 0;
    // Added padding and border to the existing width.
    // content size will shrink, no impact on overall width.
    // Opp. of content box which is default one.
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "lato", sans-serif; // For inheritance purpose, should be written here; not in univarsal selector
    font-weight: normal; //400
    line-height: 1.7;
    color: $color-grey; // text color
}

header, section {
    height: 100vh;
}