.section-about {
    padding: 25rem 0 45rem 0;
    margin-top: -20%;
    background-color: $color-grey-light;
}

.section-features {
    padding: 15rem 0;
    margin-top: -12%;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.4), rgba($color-primary-dark, 0.9)), url(../img/nat-4.jpg);
    background-size: cover; // stretches the image to complete width
    clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%); // acts as a cutter of image
}

.section-stories {
    padding: 27rem 0 45rem 0;
    margin-top: -16%;
    position: relative;
}

.section-book {
    padding: 20rem 0 30rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 1.4), rgba($color-primary-dark, 0.9)),
}

.book {
    // we can give color with percentage to tell which color should be displayed till what point
    background-image: linear-gradient(105deg, rgba($color-white, 0.7) 0%,
                                              rgba($color-white, 0.7) 50%,
                                              transparent 50%),
                                              url(../img/nat-10.jpg);
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    margin-top: -13%;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);

    &-form {
        width: 70%;
        padding: 5rem;
    }
}